name: 06.dockerseperate

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: simpleweb

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          docker build -t ${{ env.REGISTRY }}/$OWNER/${{ env.IMAGE_NAME }}:${{ github.run_id }} -t ${{ env.REGISTRY }}/$OWNER/${{ env.IMAGE_NAME }}:latest -f src/SimpleWeb/Dockerfile .

      - name: Push Docker image
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          docker push ${{ env.REGISTRY }}/$OWNER/${{ env.IMAGE_NAME }}:${{ github.run_id }}
          docker push ${{ env.REGISTRY }}/$OWNER/${{ env.IMAGE_NAME }}:latest
